<div id="main-content">
<div class="page-title"><%= cocktail.name %></div>
<h2>INGREDIENTS</h2>
<ul>
  <% cocktail.ingredients.forEach(ing => { %>
  <li><%= ing.name %> <% }) %></li>
</ul>
<h3>INSTRUCTIONS</h3>
<h4><%= cocktail.instructions %></h4>
<h4>ADD INGREDIENTS</h4>
<form action="/cocktails/<%= cocktail.id %>/ingredients?_method=PUT" method="POST">
  <% ingredients.forEach(ingredient => { %>
  <input type="checkbox" name="ingredients" value="<%= ingredient.id %>" />
  <label for="<%= ingredient.name %>"><%= ingredient.name %></label><br />
  <% })%>
  <input type="submit" value="Add Ingredients" />
</form>
</div>